@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Manrope:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&family=Sarabun:wght@100;200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sf-pro-display-regular, sans-serif;
}

html *::-webkit-scrollbar {
  border-radius: 0;
  width: 6px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.1);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

.font-medium {
  font-family: sf-pro-display-medium, 'sans-serif';
}

.font-semibold {
  font-family: sf-pro-display-semibold, 'sans-serif';
}

.font-bold {
  font-family: sf-pro-display-heavy, 'sans-serif';
}

@font-face {
  font-family: sf-pro-display-regular;
  src: url(../src//assets/fonts//sf-pro-display-regular_abbbcf80b2b5453188b767aec8c4061d.otf);
  font-weight: 500;
}

@font-face {
  font-family: sf-pro-display-regularitalic;
  src: url(../src//assets/fonts//sf-pro-display-regularitalic_e03d23dca1934307850f147d46ceec9d.otf);
}

@font-face {
  font-family: sf-pro-display-medium;
  src: url(../src//assets/fonts//sf-pro-display-medium_b03a4ea351ac4d0ba7e1b3bd31194735.otf);
}

@font-face {
  font-family: sf-pro-display-semibold;
  src: url(../src//assets/fonts//sf-pro-display-semibold_239d89cf45824f358e16eb4e6328794c.otf);
}

@font-face {
  font-family: sf-pro-display-heavy;
  src: url(../src//assets/fonts//sf-pro-display-heavy_4ae6682c2e5c44f2bc79506a451f07c1.otf);
}
